# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
venv/
ENV/
env/

# Django stuff:
*.db
*.pot
*.pyc
*.py~

# VS Code
.vscode/

# Env
.env

# OS
.DS_Store
Thumbs.db

# Docker
*.pid
*.sock

# Pytest
.pytest_cache/
